body {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#logout{
    background-color: transparent;
    color:#007BFF;
    font-weight: 1200;
    border: none;
}

.hidden {
    display: none;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
    transition: right 0.3s ease;
}

#open-menu-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.user-list {
    /* Add styles for the user list here */
    /* For example, set font size and margin to separate usernames */
    font-size: 16px;
    margin-bottom: 10px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container1{
    position:absolute;
    top:0%;
    height:100%;
    width:100%;
}

.login-signup-form {
    justify-content:center;
    align-items:center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-signup-form h2 {
    margin-bottom: 20px;
}

.login-signup-form input[type="text"],
.login-signup-form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-signup-form button {
    width: 60%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-room {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chat-header a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.chat-messages {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    max-height: 100%;
    overflow-y: scroll;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

